@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0C0F15;
  color: white;
  position: relative;
}

:root {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  @apply  top-0 left-0 p-0 m-0 w-full bg-transparent min-h-[80px] z-999 border-b-2 border-transparent
}